<form *ngIf="addAppointmentToggle" appointmentForm="ngForm">
  <table>
    <br>
    <tbody>
    {{diagnostic}}
    <tr>
      <td>
        <input type="text"
               required
               [(ngModel)]="model.timestamp" name="timestamp" placeholder="timestamp" #spy>
        <br>TODO: remove this: {{spy.className}}
      </td>
      <td>
        <select required [(ngModel)]="model.bench.id" name="bench">
          <option *ngFor="let bench of benches" [value]="bench.id">
            {{bench.streetname + ' ' + bench.housenumber + ', ' + bench.province + ', ' + bench.district}}
          </option>
        </select>
      </td>
      <td>
        <select required [(ngModel)]="model.client.id" name="client">
          <option *ngFor="let client of myClients" [value]="client.id">
            {{client.firstName + ' ' + client.lastName}}
          </option>
        </select>
      </td>
      <td>
        <input type="text"
               required
               [attr.disabled]=true
               [(ngModel)]="model.healthWorker.id" [value]="currentHw.id" name="healthworker" placeholder="{{currentHw.username}}">
      </td>
      <td>
        <button (click)="add()">Create</button>
      </td>
      <td>
        <button (click)="closeAddAppointment()">Close</button>
      </td>
    </tr>
    </tbody>
    <br>
  </table>
</form>
