<div *ngIf  ="bench">
  <h2>Edit Bench location</h2>
  <table>
    <tr>
      <td><span>{{bench.id}}</span></td>
      <td>
        <label>streetname:
          <input [(ngModel)]="bench.streetname" placeholder=`{{bench.streetname}}` />
        </label>
      </td>
      <td>
        <label>housenumber:
          <input [(ngModel)]="bench.housenumber" placeholder=`{{bench.housenumber}}` />
        </label>
      </td>
      <td>
        <label>province:
          <input [(ngModel)]="bench.province" placeholder=`{{bench.province}}` />
        </label>
      </td>
      <td>
        <label>district:
          <input [(ngModel)]="bench.district" placeholder=`{{bench.district}}` />
        </label>
      </td>
      <td><button (click)="save()">Save</button></td>
      <td><button (click)="close()">close</button></td>
    </tr>
  </table>

</div>
