<h2>All Appointments</h2>
<button (click)="toggleAddAppointment()">Create Appointment</button>
<br>

<app-appointments-form [addAppointmentToggle] = "addAppointmentsToggle"></app-appointments-form>
<div class="card mb-3">
  <div class="card-header"><i class="fa fa-table"></i>Appointments</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>Id</th>
          <th>Date</th>
          <th>Status</th>
          <th>Bench location</th>
          <th>Client</th>
          <th>Cancel?</th>
        </tr>
        </thead>
          <tbody>
          <tr *ngFor="let appointment of appointments">
            <td>{{appointment.id}}</td>
            <td>{{appointment.timestamp}}</td>
            <td>{{appointment.status}}</td>
            <td>{{appointment.bench.streetname + ' ' + appointment.bench.housenumber + ', ' + appointment.bench.province + ', ' + appointment.bench.district }}</td>
            <td><a routerLink="/clients/{{appointment.client.id}}">{{appointment.client.firstName + ' ' + appointment.client.lastName}}</a></td>
            <td>
              <div *ngIf="appointment.status != 'CANCELLED'">
                <button (click)="cancelAppointment(appointment)">Cancel</button>
              </div>
            </td>
          </tr>
          </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted"></div>
</div>
